<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.player.mothercollege">
    <uses-sdk android:minSdkVersion="4"></uses-sdk>
    <permission
        android:name="com.player.mothercollege.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.player.mothercollege.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/> 
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--&lt;!&ndash; 设置环信应用的AppKey &ndash;&gt;-->
         <meta-data android:name="EASEMOB_APPKEY"  android:value="1107161008178614#muqinapp" />
         <!-- 声明SDK所需的service SDK核心功能-->
         <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
         <service android:name="com.hyphenate.chat.EMJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true" />
         <!-- 声明SDK所需的receiver -->
         <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
         <intent-filter>
         <action android:name="android.intent.action.PACKAGE_REMOVED"/>
         <data android:scheme="package"/>
         </intent-filter>
         <!-- 可选filter -->
          <intent-filter>
               <action android:name="android.intent.action.BOOT_COMPLETED"/>
               <action android:name="android.intent.action.USER_PRESENT" />
           </intent-filter>
        </receiver>

        <!-- Ping++ SDK -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信支付 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <!-- Required SDK 核心功能-->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.player.mothercollege"/>
            </intent-filter>
        </service>

        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.player.mothercollege"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.player.mothercollege" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.player.mothercollege" />
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data android:name="JPUSH_APPKEY" android:value="a08478bcdefeec9ff07eb2cd"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="582950fbaed1791185002649" />
        <meta-data
            android:value="Channel ID"
            android:name="UMENG_CHANNEL"/>

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GuideActicity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.MainActivity" android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"/>
        <activity
            android:theme="@style/customTheme"
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            />

        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            />

        //登录注册
        <activity android:name=".login.LoginActivity" android:screenOrientation="portrait"/>//登录
        <activity android:name=".login.RegistActivity" android:screenOrientation="portrait"/>//注册
        <activity android:name=".login.ForGetActivity" android:screenOrientation="portrait"/>//忘记密码
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        <service android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"
            />

        //学院
        <activity android:name=".college.details.ReadBookItemActivity" android:screenOrientation="portrait"/>//读书章节
        <activity android:name=".college.details.BzzbDeatilsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>//本周直播详情页面
        <activity android:name=".college.details.ReadBookDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"/>//读书详情页面
        <activity android:name=".college.details.OriginalDetailsActivity" android:screenOrientation="portrait"/>//原创详情页面
        <activity android:name=".college.details.ClassDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>//课堂详情页面

        //社区
        <activity android:name=".unity.details.ActivityDetailsActivity" android:screenOrientation="portrait"/>//活动详情页面
        <activity android:name=".unity.details.FastInquiryDetailsActivity" android:screenOrientation="portrait"/>//快速咨询详情页面
        <activity android:name=".unity.details.RequestActivity" android:screenOrientation="portrait"/>//提问页面
        <activity android:name=".unity.details.HotArticleDetailsActivity" android:screenOrientation="portrait"/>//热帖详情页面
        <activity android:name=".unity.details.MyAnswerActivity" android:screenOrientation="portrait"/>//我来回答
        //消息
        <activity android:name=".unity.details.FrendMessageActivity" android:screenOrientation="portrait"/>
        <activity android:name=".unity.details.ChatActivity" android:screenOrientation="portrait"/>
        //通讯录
        <activity android:name=".unity.details.ListAddressActivity" android:screenOrientation="portrait"/>
        //群聊
        <activity android:name=".unity.details.QunChatActivity" android:screenOrientation="portrait"/>

        //发现
        <activity android:name=".find.FrendActivity" android:screenOrientation="portrait"/> //邀请好友
        <activity android:name=".find.LuckyActivity" android:screenOrientation="portrait"/> //我的福田
        <activity android:name=".find.LoveActivity" android:screenOrientation="portrait"/> //爱心大使
        <activity android:name=".find.MarketActivity" android:screenOrientation="portrait"/> //商城

        //我的
        <activity android:name=".me.HeadIconActivity" android:screenOrientation="portrait"/>//个人资料
        <activity android:name=".me.details.PersonDetailsActivity" android:screenOrientation="portrait"/>//帖子详情
        <activity android:name=".me.EditActivity" android:screenOrientation="portrait"/>//修改资料
        <activity android:name=".me.SmartMoneyActivity" android:screenOrientation="portrait"/>//智慧币
        <activity android:name=".me.GlodeMoneyActivity" android:screenOrientation="portrait"/>//金币
        <activity android:name=".me.AttActivity" android:screenOrientation="portrait"/>//关注
        <activity android:name=".me.FansActivity" android:screenOrientation="portrait"/>//粉丝
        <activity android:name=".me.TakeActivity" android:screenOrientation="portrait"/>//订阅
        <activity android:name=".me.CourseActivity" android:screenOrientation="portrait"/>//课程
        <activity android:name=".me.CirleActivity" android:screenOrientation="portrait"/>//圈子
        <activity android:name=".me.MessageActivity" android:screenOrientation="portrait"/>//消息
        <activity android:name=".me.CollectActivity" android:screenOrientation="portrait"/>//收藏
        <activity android:name=".me.SettingActivity" android:screenOrientation="portrait"/>//设置
        <activity android:name=".me.details.AlterNameActivity" android:screenOrientation="portrait"/>//修改昵称
        <activity android:name=".me.details.AddressActivity" android:screenOrientation="portrait"/>//收货地址
        <activity android:name=".me.details.PickerActivity" android:screenOrientation="portrait"/>//新建收货地址
        <activity android:name=".me.details.StyleActivity" android:screenOrientation="portrait"/>//个性签名
        <activity android:name=".me.details.SmartDetailsActivity" android:screenOrientation="portrait"/>//智慧币明细
        <activity android:name=".me.details.SmartPayActivity" android:screenOrientation="portrait"/>//充值
        <activity android:name=".me.details.SmartMakeOverActivity" android:screenOrientation="portrait"/>//智慧币转让
        <activity android:name=".me.details.GlodeDetailsActivity" android:screenOrientation="portrait"/>//金币明细
        <activity android:name=".me.details.GetGlodeActivity" android:screenOrientation="portrait"/>//提现
        <activity android:name=".me.details.SettingHelpActivity" android:screenOrientation="portrait"/>//帮助与反馈
        <activity android:name=".me.details.SettingAboutActivity" android:screenOrientation="portrait"/>//关于
        <activity android:name=".me.details.CirleDetailsActivity" android:screenOrientation="portrait"/>//圈子详情页面
        <activity android:name=".me.details.MoreCirleListActivity" android:screenOrientation="portrait"/>//推荐更多圈子列表
        <activity android:name=".me.details.CirlePostMessageActivity" android:screenOrientation="portrait"/>//发帖页面
        <activity android:name=".me.details.MyCommentActivity" android:screenOrientation="portrait"/>//我的评论
        <activity android:name=".me.details.MyZanActivity" android:screenOrientation="portrait"/>//我的赞
        <activity android:name=".me.details.SystemMessageActivity" android:screenOrientation="portrait"/>//系统消息
        <activity android:name=".me.details.WebViewDeatilsActivity" android:screenOrientation="portrait"/>//系统消息详情

        //支付
        <activity android:name=".pay.PayIndentActivity" android:screenOrientation="portrait"/>//支付订单
        <activity android:name=".pay.ClientPayActivity" android:screenOrientation="portrait"/>//提现(银行卡、微信)
        <activity android:name=".pay.ClientExplainActivity" android:screenOrientation="portrait"/>//提现说明
        <activity android:name=".pay.AddBankCardActivity" android:screenOrientation="portrait"/>//添加银行卡

    </application>

</manifest>